In [15]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id pelajaran  nilai jenis-kelamin kelas
0         1   Geologi     49     perempuan   12B
1         2   Biologi     77     perempuan   12D
2         3    Fisika     84     laki-laki   12A
3         4   Biologi     45     laki-laki   12D
4         5     Kimia     16     perempuan   12A

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [5]:
# code here
data=df[['nilai', 'kelas']]
print(data)

    nilai kelas
0       7   12B
1       8   12B
2      91   12A
3      17   12C
4       7   12A
5      63   12A
6      77   12C
7      36   12C
8       9   12B
9      84   12A
10     60   12C
11     69   12B
12     49   12C
13     47   12A
14      9   12B
15     35   12A
16     27   12D
17     94   12C
18     91   12B
19     92   12C

In [11]:
data1=df[['pelajaran', 'nilai']]
print(data1[4:10])

  pelajaran  nilai
4   Ekonomi      7
5   Ekonomi     63
6     Kimia     77
7   Ekonomi     36
8   Ekonomi      9
9     Kimia     84

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [12]:
# code here
ekonomi = df.pelajaran == 'Ekonomi'
fisika = df.pelajaran == 'Fisika'
print(df[(ekonomi) | (fisika)])

    siswa_id pelajaran  nilai jenis-kelamin kelas
0          1    Fisika      7     laki-laki   12B
1          2    Fisika      8     laki-laki   12B
4          5   Ekonomi      7     perempuan   12A
5          6   Ekonomi     63     perempuan   12A
7          8   Ekonomi     36     laki-laki   12C
8          9   Ekonomi      9     laki-laki   12B
11        12    Fisika     69     perempuan   12B
12        13    Fisika     49     laki-laki   12C
16        17    Fisika     27     laki-laki   12D

In [13]:
kimia = df.pelajaran == 'Kimia'
nilai_50 = df.nilai > 50
print(df[(nilai_50) & (kimia)])

   siswa_id pelajaran  nilai jenis-kelamin kelas
2         3     Kimia     91     laki-laki   12A
6         7     Kimia     77     laki-laki   12C
9        10     Kimia     84     perempuan   12A

In [16]:
nilai = df.nilai > 70
kelamin = df['jenis-kelamin'] == 'perempuan'
kelas = df.kelas == '12C'
print(df[(nilai) & (kelamin) & (kelas)])

    siswa_id pelajaran  nilai jenis-kelamin kelas
13        14    Fisika     76     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [17]:
# code here
print("daftar kolom nilai sebelum dirubah: ")
print(df.nilai)
print("nilai tertinggi: ")
print(df.nilai.max())
print("nilai terendah: ")
print(df.nilai.min())
print("daftar kolom nilai setelah dirubah: ")
def xnormalize(x):
    return (x - x.min()) / (x.max() - x.min())
print(df[['nilai']].apply(xnormalize))

daftar kolom nilai sebelum dirubah:
0     49
1     77
2     84
3     45
4     16
5     64
6     54
7     34
8     57
9     54
10    57
11     9
12    67
13    76
14    54
15    67
16    99
17     8
18    94
19    85
Name: nilai, dtype: int64
nilai tertinggi:
99
nilai terendah:
8
daftar kolom nilai setelah dirubah:
       nilai
0   0.450549
1   0.758242
2   0.835165
3   0.406593
4   0.087912
5   0.615385
6   0.505495
7   0.285714
8   0.538462
9   0.505495
10  0.538462
11  0.010989
12  0.648352
13  0.747253
14  0.505495
15  0.648352
16  1.000000
17  0.000000
18  0.945055
19  0.846154