In [3]:
import numpy as np
import pandas as pd

df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [4]:
df_train.head()

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,0,21,Wiraswasta,242912,SMA,9,Belum Pernah Menikah,Servis Lainnya,Perempuan,0.0,0.0,35.0,<=7jt
1,1,49,Wiraswasta,140782,10th,6,Cerai,Ekesekutif Managerial,Perempuan,0.0,0.0,40.0,<=7jt
2,2,44,Wiraswasta,120057,D3,12,Menikah,Ekesekutif Managerial,Laki2,61404000.0,0.0,45.0,>7jt
3,3,24,Wiraswasta,194630,Sarjana,13,Belum Pernah Menikah,Spesialis,Laki2,0.0,0.0,35.0,<=7jt
4,4,33,Wiraswasta,219619,Master,14,Menikah,Spesialis,Laki2,210336000.0,0.0,40.0,>7jt

In [5]:
df_test.head()

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu
0,35994,30,Pemerintah Lokal,99761,D4,11,Cerai,Pemuka Agama,Perempuan,0.0,0.0,40.0
1,35995,28,Wiraswasta,202206,SMA,9,Menikah,Mesin Inspeksi,Laki2,0.0,0.0,50.0
2,35996,34,Pemerintah Provinsi,199934,Pendidikan Tinggi,10,Menikah,Pemuka Agama,Laki2,0.0,0.0,40.0
3,35997,51,Wiraswasta,373448,Pendidikan Tinggi,10,Menikah,Ekesekutif Managerial,Laki2,0.0,28028000.0,40.0
4,35998,20,?,144685,Pendidikan Tinggi,10,Belum Pernah Menikah,?,Perempuan,0.0,22428000.0,40.0

In [6]:
x_train = df_train[['id','Umur', 'Berat Akhir', 'Jmlh Tahun Pendidikan', 'Keuntungan Kapital', 'Kerugian Capital', 'Jam per Minggu']]
y_train = df_train['Gaji']
x_test = df_test[['id','Umur', 'Berat Akhir', 'Jmlh Tahun Pendidikan', 'Keuntungan Kapital', 'Kerugian Capital', 'Jam per Minggu']]

In [7]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [8]:
model = DecisionTreeClassifier()
param_grid = {'max_depth':np.arange(2, 10), 'min_samples_leaf':np.arange(4,10), 'max_leaf_nodes':np.arange(2, 10)}
gscv = GridSearchCV(model, param_grid=param_grid, scoring='accuracy', cv=5)
gscv.fit(x_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': array([2, 3, 4, 5, 6, 7, 8, 9]),
                         'max_leaf_nodes': array([2, 3, 4, 5, 6, 7, 8, 9]),
                         'min_samples_leaf': array([4, 5, 6, 7, 8, 9])},
             scoring='accuracy')

In [9]:
gscv.best_params_

{'max_depth': 5, 'max_leaf_nodes': 9, 'min_samples_leaf': 4}

In [10]:
y_test=gscv.predict(x_train)

In [11]:
y_test

array(['<=7jt', '<=7jt', '<=7jt', ..., '<=7jt', '<=7jt', '<=7jt'],
      dtype=object)

In [12]:
y_test2=gscv.predict(x_test)

In [13]:
print(y_test2)

['<=7jt' '<=7jt' '<=7jt' ... '<=7jt' '<=7jt' '<=7jt']

In [14]:
from sklearn.model_selection import cross_val_score

In [15]:
result = cross_val_score(model, x_train, y_train, scoring='roc_auc')
result.mean()

0.6515170268846953

In [29]:
id = x_test['id']
gaji = y_test2

In [30]:
for index in range(len(gaji)):
    if gaji[index]=='<=7jt':
        gaji[index]='0'
    elif gaji[index]=='>7jt':
        gaji[index]='1'

In [31]:
hasil = {'Id':id, 'Gaji':gaji}

In [32]:
df_akhir = pd.DataFrame(hasil)

In [33]:
df_akhir.head()

      Id Gaji
0  35994    0
1  35995    0
2  35996    0
3  35997    0
4  35998    0

In [41]:
df_akhir.to_csv('hasilAkhirTest.csv', index=False)